<!doctype html>
<html>
<head>
  <title>Passages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
</head>
<body>
  <h1>Passages</h1>
  <p>This site offers a unique way to prepare scriptural content in your lessons.</p>
  <form action="/">
    <div>
      <label for="reference">Reference</label>
      <input name="reference" placeholder="3 Nephi 2:1-4; 4:1-2" />
    </div>

    <div>
      <input type="radio" id="wood" name="theme" value="wood"
             checked>
      <label for="wood">Wood</label>
    </div>

    <div>
      <input type="radio" id="tech" name="theme" value="tech">
      <label for="tech">Tech</label>
    </div>

    <button type="submit">Show</button>
  </form>
</body>
</html>
