<!doctype html>
<html>
<head>
  <title>Passages</title>
</head>
<body>
  <h1>Passages</h1>
  <p>This site offers a unique way to prepare scriptural content in your lessons. It is not a very browsable site.</p>
  <p>The best approach is to just type the scriptures you want to show into the url bar. Here are a few examples.</p>
  <ul>
    <li>
      <a href="http://{{ config.BASE_ADDRESS }}/1 Nephi 3:7">
        http://{{ config.BASE_ADDRESS }}/1 Nephi 3:7
      </a>
    </li>
    <li>
      <a href="http://{{ config.BASE_ADDRESS }}/Moroni 10:3-5">
        http://{{ config.BASE_ADDRESS }}/Moroni 10:3-5
      </a>
    </li>
    <li>
      <a href="http://{{ config.BASE_ADDRESS }}/3 Nephi 2:1-4; 4:1-2">
        http://{{ config.BASE_ADDRESS }}/3 Nephi 2:1-4; 4:1-2
      </a>
    </li>
  </ul>
  <p>You can try an alternate style.</p>
  <ul>
    <li>
      <a href="http://{{ config.BASE_ADDRESS }}/tech/Moroni 10:3-5">
        http://{{ config.BASE_ADDRESS }}/tech/Moroni 10:3-5
      </a>
    </li>
  </ul>
</body>
</html>
