body {
    background-image: url('wood.jpg');
    background-repeat: repeat;
    font-family: 'Georgia', serif;
    color: #565B78;
}

span.verse-no {
    color: #888888;
    font-size: 80%;
}

span.verse-no:after {
    content: ".";
}

.content {
    width: 70vw;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: white;
    font-size: calc(12px + 1.5vw);
    border-radius: 10px;
    padding: 4vw;
}

.reference {
    text-align: center;
    margin-bottom: 0.3in;
    font-style: italic;
    font-size: calc(10px + 1.5vw);
}

p {
    margin-bottom: 1.5vw;
}
